/* DEFAULT | NÃO IRÃO MUDAR CONFORME RESOLUÇÃO XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
   
    /* #region | SITE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
    
        /* FLEXBOX SITE */
        #BODY{
            display: flex;        
            background-color:#220E55;      
        }

        /* ITEM 1 */
        #MENU{
            flex: 1; 
            display: flex;        
        }

        /* ITEM 2 */
        #HEADER{  
            flex: 1;              
            display: flex; 
        }
            
        /* ITEM 3 */
        #MAIN{
            flex: 1; 
            display: flex; 
        }

        /* ITEM 4 */
        #FOOTER{
            flex: 1;             
        }
    
    /* #endregion */

    /* #region | MENU xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

        /* #region | LINHA SUPERIOR ----------------------------------------------------------------------------------------------------------------------*/
         
            /* 1) LINHA SUPERIOR */
            #MENU_LINHA_SUPERIOR{
                flex: 1;                   
            }

        /* #endregion */                

        /* #region | LINHA INFERIOR  ----------------------------------------------------------------------------------------------------------------------*/
            
            /* 2) LINHA INFERIOR */                
            #MENU_LINHA_INFERIOR{
                flex: 1;                  
            }

        /* #endregion */    

    /* #endregion */        

    /* #region | HEADER xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

        /* #region | LINHA SUPERIOR ----------------------------------------------------------------------------------------------------------------------*/
           
            /* 1) LINHA SUPERIOR */
            #HEADER_LINHA_SUPERIOR{
                flex: 1;            
                display: flex;                    
            }

                /* A) COLUNA ESQUERDA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
                #SUPERIOR_COLUNA_ESQUERDA{
                    flex: 1;    
                    display: flex;         
                }

                    /* I) PROGRAMAS */
                    #ITEM_PROGRAMAS{
                        flex: 1;
                    }  

                    /* II) TITULO */   
                    #ITEM_TITULO{
                        flex: 1;
                    }                

                /* B) COLUNA DIREITA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
                #SUPERIOR_COLUNA_DIREITA{
                    flex: 1;             
                }

                    /* I) LINGUAGENS */
                    #ITEM_LINGUAGENS{
                        flex: 1;
                    }

        /* #endregion */        

        /* #region | LINHA INFERIOR ----------------------------------------------------------------------------------------------------------------------*/
        
            /* 1) LINHA INFERIOR */
            #HEADER_LINHA_INFERIOR{
                flex: 1;            
                display: flex; 
            }

                /* A) COLUNA ESQUERDA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
                #INFERIOR_COLUNA_ESQUERDA{
                    flex: 1;             
                }

                /* B) COLUNA CENTRO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
                #INFERIOR_COLUNA_CENTRO{
                    flex: 1;             
                }

                /* C) COLUNA DIREITA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
                #INFERIOR_COLUNA_DIREITA{
                    flex: 1;             
                }

        /* #endregion */    

    /* #endregion */
   
    /* #region | MAIN xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
  
        /* #region | LINHA SUPERIOR ----------------------------------------------------------------------------------------------------------------------*/
        
            /* 1) LINHA SUPERIOR */
            #MAIN_LINHA_SUPERIOR{
                flex: 1;            
                display: flex;  
                align-items: center;
                margin-top: 35px;
                margin-bottom: 35px;                  
            }

                /* A) ELEMENTO*/
                #PROJECTS{
                    text-align: center;  
                    height: 100%;
                    width: 100%;                
                }

        /* #endregion */

        /* #region | LINHA INFERIOR ----------------------------------------------------------------------------------------------------------------------*/
            
            /* 1) LINHA INFERIOR */
            #MAIN_LINHA_INFERIOR{
                flex: 1;            
                display: flex; 
                gap: 25px;
                flex-wrap: wrap;           
                border-radius: 8px;
                padding: 40px 40px 40px 40px;
                box-shadow: 11px 10px 10px rgba(0,0,0,0.2); /* POSICAO X | POSICAO Y | BLUR | COR */  
                background-color: var(--VAR_COR_SECUNDARIA);
            }

                /* I) ITENS */
                #BOTAO_SUBLIMINAPP, #BOTAO_SISTEMA_CADASTRO, #BOTAO_CLIMA, #BOTAO_DISCLOSURE, #BOTAO_FORMULARIO, #BOTAO_ECOMMERCE, #BOTAO_LOGIN_INSTAGRAM {
                    flex: 1;  
                }

        /* #endregion */
    
    /* #endregion */
 
    /* #region | FOOTER xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

        /* #region | LINHA SUPERIOR ----------------------------------------------------------------------------------------------------------------------*/
            
            /* 1) FOOTER LINHA SUPERIOR */
            #FOOTER_LINHA_SUPERIOR{
                flex: 1;            
                display: flex; 
                text-align: center;   
            }

                /* A) FOOTER AUTORA*/
                #ITEM_AUTORA{
                    flex: 1;
                    font-size: 0.9em;
                    margin-top: 50px;
                }  

        /* #endregion */     
        
    /* #endregion */
 
/* RESOLUCAO | XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
          
    /* #region | DESKTOP xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
    
    @media only screen and (min-width : 768px) {
    
        /* #region | SITE --------------------------------------------------------------------------------------------------------------------------*/
    
            /* BODY */
            #BODY{
                flex-direction: column;
            }
    
            /* HEADER */
            #HEADER{  
                flex-direction: column;
                margin-top: -20px;
                height: auto;
            }
    
            /* MENU */
            #MENU{
                visibility: hidden;
            } 
    
            /* MAIN */
            #MAIN{
                flex-direction: column;       
            }

            /* FOOTER */
            #FOOTER{
                flex-direction: column;   
                height: auto; 
            }
            
        /* #endregion*/    
    
        /* #region | MENU --------------------------------------------------------------------------------------------------------------------------*/
                
            /* ICONE */
            #MENU_LINHA_SUPERIOR{
                flex-direction: row;         
            } 
    
        /* #endregion */        
    
        /* #region | HEADER --------------------------------------------------------------------------------------------------------------------------*/
        
            /* #region LINHA SUPERIOR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
                
                /* 1) LINHA SUPERIOR */
                #HEADER_LINHA_SUPERIOR{      
                    flex-direction: row;           
                    height: 460px;
                }
        
                    /* A) COLUNA ESQUERDA ===============================================*/
                    #SUPERIOR_COLUNA_ESQUERDA{
                        flex-direction: column;    
                    }
        
                        /* I) PROGRAMAS */
                        #ITEM_PROGRAMAS{
                            text-align: left;
                        }
        
                        /* II) TÍTULO */
                        #ITEM_TITULO{
                            margin-top: -145px;
                            margin-bottom:-80px;           
                        }
        
                        /* III) NOME */
                        #ELEMENTO_NOME{              
                            font-size: 0.95em;          
                        }
        
                        /* IV) SOBRENOME */
                        #ELEMENTO_SOBRENOME{
                            margin-left: 67px;
                            font-size: 0.75em; 
                        }
        
                        /* V) FUNCAO */
                        #ELEMENTO_FUNCAO{
                            margin-left: 207px;
                            font-size: 0.75em; 
                        }
        
                        /* VI) TRACO */
                        #ELEMENTO_TRACO{
                            position: absolute;
                            top: 308px;
                            margin-left: 2px;
                            height: 3.4px;
                            width: 55px;
                        }
    
                    /* B) COLUNA DIREITA ===============================================*/
                    #SUPERIOR_COLUNA_DIREITA{
                        flex-direction: column;  
                    }
        
                        /* 1) LINGUAGENS */
                        #ITEM_LINGUAGENS{
                            text-align: right;
                        }
                 
            /* #endregion*/
    
            /* #region LINHA INFERIOR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
            
                /* 1) LINHA INFERIOR */
                #HEADER_LINHA_INFERIOR{
                    flex-direction: row; 
                }
                
                    /* A) COLUNA ESQUERDA */
                    #INFERIOR_COLUNA_ESQUERDA{
                        text-align: left;   
                        margin-top: 20px;          
                    }
        
                    /* B) COLUNA CENTRO */
                    #INFERIOR_COLUNA_CENTRO{
                        text-align: center;              
                    }
        
                    /* C) COLUNA DIREITA */
                    #INFERIOR_COLUNA_DIREITA{
                        text-align: right;    
                        margin-top: 20px        
                    }
        
            /* #endregion */
    
        /* #endregion*/            
        
        /* #region | MAIN --------------------------------------------------------------------------------------------------------------------------*/
                   
            /* #region | LINHA INFERIOR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
                
                /* 1) LINHA INFERIOR */
                #MAIN_LINHA_INFERIOR{
                    flex-direction: row;    
                }

                /* BOTÃO PROJETOS [SUBLIMINAPP, DISCLOSURE] */
                .BOTOES_PROJETOS{
                    min-width: 230px;                    
                }
                      
            /* #endregion */
         
        /* #endregion */
             
        /* #region | SUMIR --------------------------------------------------------------------------------------------------------------------------*/
            
            /* 1) ELEMENTO PARA SUMIR NO MODO DESKTOP */
            #MENU_LINHA_INFERIOR{
                display: none;
            }
    
        /* #endregion */
       
    }  

    /* #endregion*/
    
    /* #region | MOBILE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
    
    @media only screen and (max-width: 768px) {

        /* #region SITE --------------------------------------------------------------------------------------------------------------------------*/
            
            /* BODY */
            #BODY{
                flex-direction: column;
            } 

            /* MENU */
            #MENU{
                padding-top: 20px;
            }
            
            /* HEADER */
            #HEADER{  
                flex-direction: column;
                margin-top: -20px;
                height: auto;
            }              
            
            /* FOOTER */
            #MAIN{
                flex-direction: column;
            }

        /* #endregion */
        
        /* #region MENU --------------------------------------------------------------------------------------------------------------------------*/
                
            /* #region LINHA SUPERIOR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

                /* 1) LINHA SUPERIOR */
                #MENU_LINHA_SUPERIOR{
                    text-align: left;        
                }

            /* #endregion*/

            /* #region LINHA INFERIOR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
        
                /* 2) LINHA INFERIOR */
                #MENU_LINHA_INFERIOR{
                    height: 100%;
                    width: 0;
                    position: fixed;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    overflow-x: hidden;
                    transition: 0.5s;
                    padding-top: 70px;
                    text-align: left;
                    background-color: #111;
                }      
                    
                    /* A) ELEMENTO EXIT */
                    #EXIT{
                        cursor: pointer;   
                        position: absolute;
                        top: 0;
                        right: 40px;
                        margin-left: 50px;
                        margin-top: 40px;
                        height: 20px;
                        width: 20px;
                    }
                
                    /* B) ELEMENTOLINKS PARA OS PROJETOS*/
                    #LINKS_PROJETOS {
                        padding: 0px 8px 8px 32px;
                        margin-top: -32px;
                        text-decoration: none;
                        font-size: 1.1em;
                        color: white;
                        display: block;
                        transition: 0.3s;
                    }   
                    
                    /* C) ELEMENTO REDES SOCIAIS DO MENU */
                    #REDES_SOCIAIS_MENU {
                        display: block;
                        margin-top: 15px;
                        margin-left: 33px;
                    } 
    
        /* #endregion */  

        /* #endregion */

        /* #region HEADER --------------------------------------------------------------------------------------------------------------------------*/        

            /* #region LINHA SUPERIOR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
            
            /* 1) LINHA SUPERIOR  */
            #HEADER_LINHA_SUPERIOR{      
                flex-direction: row;           
                height: 440px;
            }

                /* A) COLUNA ESQUERDA ==============================================================*/
                #SUPERIOR_COLUNA_ESQUERDA{
                    flex-direction: column;    
                }

                    /* I) PROGRAMAS */
                    #ITEM_PROGRAMAS{
                        text-align: left;
                    }

                    /* II) TITULO */
                    #ITEM_TITULO{
                        margin-top: 180px;
                        text-align: center;              
                    }

                    /* III) NOME */
                    #ELEMENTO_NOME{              
                        font-size: 0.95em;          
                    }

                    /* IV) SOBRENOME */
                    #ELEMENTO_SOBRENOME{
                        font-size: 0.75em; 
                    }

                    /* V) FUNCAO */
                    #ELEMENTO_FUNCAO{
                        font-size: 0.75em; 
                    }

               /* B) COLUNA DIREITA ==============================================================*/
                #SUPERIOR_COLUNA_DIREITA{
                    flex-direction: column;  
                }

                    /* I) LINGUAGENS */
                    #ITEM_LINGUAGENS{
                        text-align: right;
                    }

            /* (2) LINHA | INFERIOR (ROW) VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */
            #HEADER_LINHA_INFERIOR{
                flex-direction: row;               
            }

                /* (A) COLUNA | ESQUERDA (COLUMN) -----------------------------------------------------------------------------------------------*/
                #INFERIOR_COLUNA_ESQUERDA{
                    text-align: left;             
                }

                /* (B) COLUNA | CENTRO (COLUMN)---------------------------------------------------------------------------------------------------*/
                #INFERIOR_COLUNA_CENTRO{
                    text-align: center;              
                }

                /* (C) COLUNA | DIREITA (COLUMN) --------------------------------------------------------------------------------------------------*/
                #INFERIOR_COLUNA_DIREITA{
                    text-align: right;            
                }

        /*#endregion*/        
            
        /* #endregion*/

        /* #region MAIN --------------------------------------------------------------------------------------------------------------------------*/                
                       
            /* #region LINHA INFERIOR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
                
                /* 2) LINHA INFERIOR */
                #MAIN_LINHA_INFERIOR{
                    flex-direction: column;                     
                }
                
            /*#endregion*/
            
        /* #endregion*/

        /* #region FOOTER --------------------------------------------------------------------------------------------------------------------------*/                
        
            /* #region LINHA SUPERIOR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
            
                /* 1) LINHA SUPERIOR */
                #FOOTER_LINHA_SUPERIOR{ 
                    text-align: center;   
                } 

            /* #endregion*/
            
        /* #endregion*/
             
        /* #region SUMIR --------------------------------------------------------------------------------------------------------------------------*/
           
            /* 1) ELEMENTOS PARA SUMIR NO MDO MOBILE*/
            #SUPERIOR_COLUNA_DIREITA, #ITEM_PROGRAMAS, #ELEMENTO_TRACO, #INFERIOR_COLUNA_ESQUERDA, #INFERIOR_COLUNA_DIREITA{
                display: none;
            }  

        /* #endregion*/
    
    }

    /* #endregion*/

/* CLASSES | XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
    
    /* #region | BOTÕES xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

        /* BOTÃO PROJETOS [SUBLIMINAPP, DISCLOSURE] */
        .BOTOES_PROJETOS{                                 
            max-height: 300px;     
            padding-top: 40px;
            padding-bottom: 40px;
            border-radius: 8px;
            text-align: center; 
            box-shadow: 15px 5px 10px rgba(0,0,0,0.1); /* POSICAO X | POSICAO Y | BLUR | COR */
            background: linear-gradient(0deg, rgba(115,103,240,1) 0%, rgba(129,233,244,1) 75%);
            cursor: pointer; 
        }
        
        /* BOTÃO PROJETOS > TÍTULOS */
        .BOTOES_PROJETOS_TITULOS{
            font-size: 1.2em;
            margin-bottom: 4px;
            color: white;
        }

        /* BOTÃO PROJETOS > DESCRICOES */
        .BOTOES_PROJETOS_DESCRICOES{
            font-size: 0.80em;
            color: white;
            margin-bottom: 0px;
        }

        /* BOTÃO PROJETOS > ICONES */
        .BOTOES_PROJETOS_ICONES{
            margin-bottom: 5px;
        }

        /* BOTÕES REDES SOCIAIS [LINKEDIN, GITHUB, BEHANCE] */
        .BOTOES_REDES_SOCIAIS{
            margin-top:-25px;
            width:30px;
            height:30px;
            background-color: var(--VAR_COR_PRIMARIA);
            cursor: pointer;
        }

        /* BOTÕES REDES SOCIAIS DO MENU [LINKEDIN, GITHUB, BEHANCE] */
        .BOTOES_REDES_SOCIAIS_MENU{
            margin-top:-15px;
            width:40px;
            height:40px;
            background-color: #111;
            cursor: pointer;
        }


    /* #endregion */

    /* #region | FONTES xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
    
        .FONT_REGULAR{ font-weight: 400;}

        .FONT_MEDIUM{ font-weight: 500;}

        .FONT_SEMIBOLD{ font-weight: 600;}

        .FONT_BOLD{ font-weight: 700;}

        .FONT_EXTRABOLD{ font-weight: 800;}

    /* #endregion */
    
/* RESET | XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
    
    /* #region ELEMENTOS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
      
    /* IMPORTAR FONTES DO GOOGLE */
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

    * {
        margin: 0;
        padding: 0;
        font-size: 100%;
        border: none;
        outline: none;
        box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
    }

    body{
        background-color: var(--VAR_COR_PRIMARIA);  
        color: white;        
        font-size: 1em;
        padding-left: 40px;
        padding-top: 20px;
        padding-right: 40px;
        padding-bottom: 40px;
    } 
  
    a {
        text-decoration: none;
        color: white;
    }

    a:visited {
        color: #532ab9;
      }

    ul {
        list-style:none;
    }

    img {
        width: 100%;
    }
    
    p{
        font-size: 1em;

    }

/* #endregion */

/* VARIAVEIS | XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

    /* ROOT */
    :root {
        --VAR_COR_PRIMARIA: #220E55;
        --VAR_COR_SECUNDARIA: #2C126C;
        --VAR_AZUL_GRADIENTE: rgb(66, 97, 153);
    }      